html {
    height: 100%;
    width: 100%;
  }
  ul{
    list-style: none;
}

  /*Added background image and colour coding for text*/
  body {
    font-family: Poppins, Arial, sans-serif;
    padding: 1em;
    background-color: #00141f;
  }
  
  /*formating of main heading*/
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  header img {
    width: 10%;
  }
  /*added background image*/
  h1 {
    line-height: 200%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 72px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /*nagivation bar formating*/
  nav {
    font-weight: bold;
    display: flex;
    color: #ffffff;
    width: 85%;
  }
  
  nav a:visited {
    color: #344873;
  }
  nav a:hover {
    color: yellow;
  }
  nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  h2 {
    color: #3399cc;
    font-family: Georgia, serif;
  }
  
  /*main body styling to incorporate text and image*/
  main {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: auto;
  }
  
  /*image formating*/
  main img {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
  /*footer formating*/
  footer {
    padding: 10px 10px;
    height: 300px;
    background-color: rgb(4, 6, 24, 0.9);
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .footer1 {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  
  .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3b5998;
    color: white;
    size: 150%;
  }
  
  .fa-twitter {
    background: #55acee;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .footer2 {
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  
  .footer2 nav ul {
    display: flex;
    flex-direction: column;
  }
  
  .foothead {
    color: white;
    font-size: 24px;
  }
  
  nav ul .icon {
    display: none;
  }
  
  @media screen and (max-width: 750px) {
    nav ul a:not(:active) {
      display: none;
    }
  
    nav ul a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 750px) {
    nav ul.responsive {
      position: relative;
      display: flex;
      flex-direction: column;
      width: auto;
    }
    nav ul.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav ul.responsive a {
      float: none;
      display: block;
    }
  
    footer {
      height: auto;
      background-color: rgb(4, 6, 24, 0.9);
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer2 nav ul a {
      display: flex;
      flex-direction: column;
      color: white;
    }
  }
  