 html {
    width: 100%;
    font-family: 'Poppins', Helvetica, sans-serif;
    background-image: url("../image/back1.png"); width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
body{
    width: 100%;
    font-family: 'Poppins', Helvetica, sans-serif;
    /* background-image: url("../image/back1.png") ; */
    /* background-repeat: no-repeat; */
    /* background-color: #040618; */
    background-size: cover;
    /* padding: 5px 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav{
    width: 85%;
}

nav ul{
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

nav ul a{
    display: block;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: #1C78CF;
    font-size: 1em;
}

.galleryClass01{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.pat{
    background-position: right;
    background-image: url('../GALLERY/main.gif');
    background-repeat: no-repeat;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
    text-align: center;
    background-color: white;
    opacity: 0.7;
    Scolor: rgb(42, 55, 172);
}



/* nav ul a::selection{
    display: block;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: #1C78CF;
    font-size: 1em;
} */

main{
    /* height: 100px; */
    /* color: pink; */
    padding: 20px 20px;
}
.block1{
    padding: 10px;
    margin-left:10%;
    margin-right: 10%;
    /* width: 1100px; */
    color: white;
    font-size: 3em;
    /* background-color: rgb(255, 255, 255,0.2); */
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.faqs, .faqsLeft, .faqsRight, .columnBlock, .columnRow, .blockStyle1, .blockStyle1Column
,.comp, .compLeft, .compCenter,.compRight
{
    display: flex;
}

.blockStyle1{
    flex-direction: row;
}

.blockStyle1Column{
    width: 30%;
    padding: 2%;
    margin: 1%;
    /* background-color: black; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(59,173,227,1) 0%, 
          rgba(87,111,230,1) 25%, 
          rgba(152,68,183,1) 51%, 
          rgba(255,53,127,1) 100%
    );  
    animation: AnimateBG 20s ease infinite;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
}

@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.comp{
    flex-direction: row;
    width: 100%;
    margin: 1%;
    justify-content: space-between;
}

.compLeft, .compCenter, .compRight{
    align-items: center;
    background-color: black;
    color: white;
    margin: 2%;
    padding: 3%;
    width: 35%;
    text-align: center;
    justify-content: center;
}
.compCenter{
    color: black;
    background: whitesmoke;
    width: 20%;
    -webkit-transition: background 1s; /* For Safari 3.0 to 6.0 */
    transition: background 1s; /* For modern browsers */
}

.compCenter:hover{
    color: white;
    background: #1C78CF;
}


.BlockMainHeading{
    background-position: left;
    background-image: url("../image/coolgif.gif");
    background-repeat: no-repeat;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
    text-align: center;
    padding: 5%;
    margin: 3%;
    background-color: black;
    opacity: 0.9;
    font-size: xx-large;
    color: deepskyblue;
}

.blockStyle1Heading{
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

.blockStyle1Content{
    text-align: center;
    color: white;
    font-size: smaller;
}
.faqs{
    flex-direction: row;
    justify-content: space-around;
}

.faqsLeft{
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
}

.faqsRight{
    width: 50%;
    flex-direction: column;
}

.columnRow{
    opacity: 0.9;
    padding: 5%;
    background-color: black;
    flex-direction: row;
    justify-content: space-evenly;
}
.columnBlock{
    flex-direction: column;
}

.boldText{
    font-weight: bold;
    color: white;
}
.normalText{
    color: white;
}

.columnRow:hover{
    background-color: #1C78CF;
    padding: 3% 0%;
}

/*  Right Block CSS Starts */
/* .columnRow2{
    opacity: 0.9;
    padding: 5%;
    background-color: black;
    flex-direction: row;
    justify-content: space-evenly;
} */
.columnBlock2{
    opacity: 0.9;
    padding: 5%;
    background-color: black;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: column;
}

.boldText2{
    font-size: larger;
    font-weight: bold;
    color: white;
}
.normalText2{
    color: pink;
}

.columnRow:hover2{
    background-color: #1C78CF;
    padding: 3% 0%;
}

.block1{
    color: white;
}














footer{
    padding: 10px 10px;
    height: 300px;
    background-color: rgb(4, 6, 24,0.9);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer1{
    width: 30%;
    display: flex;
    flex-direction: column;
}


.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.footer2{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.footer2 nav ul {
    display: flex;
    flex-direction: column;
}

.foothead{
    color: white;
    font-size: 24px;
}

.block2{
    margin-top: 30px;
    padding: 10px;
    margin-left:5%;
    margin-right: 5%;
    /* height: 300px; */
    color: white;
    font-size: 20px;
    /* background-color: rgb(255, 255, 255,0.2); */
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul .icon {
    display: none;
  }
/* @media screen and (max-width: 600px) {
    .nav ul a:not(:first-child) {display: none;}
    .nav ul a.icon {
      float: right;
      display: block;
    }
} */


@media screen and (max-width: 600px) {
    nav ul a:not(:active) {display: none;}
    
    nav ul a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {


    nav ul.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    nav ul.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav ul.responsive a {
      float: none;
      display: block;
    }

    footer{
        height: auto;
        background-color: rgb(4, 6, 24,0.9);
        width:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer2 nav ul a{
        display: flex;
        flex-direction: column;
        color: white;
    }



}
  
